<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" src="/public/css/style.css">
    <title>The Howl-ton</title>
</head>
<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul class="flexx-row">
            <li class="logo-image"><img src="../../images/project2-headericon.jpg" class="logo-image" />
            </li>
            <li class="li=inline nav-item"><a href="/">Home</a></li>
            <li class="li=inline nav-item"><a href="/dashboard">Account</a></li>
            <li class="li=inline nav-item"><a href="/reviews">Reviews</a></li>
            <li class="li=inline nav-item"><a href="#" id="logout">Logout</a></li>
        </ul>
    </nav>
    <header class="hero">
        <h1 class="dash-title"><a href="/dashboard">My Account</a></h1>
    </header>

    <main class="col-auto">
    {{{body}}}
    </main>

    <footer class="footer flex-row justify-left">
        <a href="/dashboard/new">Add a Dog</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

</html>
