
    <main class="col-auto">
    {{{body}}}
    </main>
    <div class="boardingCard">
    <div class="card-body">
    <h2 class="card-title">Book Daycare, Boarding or Grooming!!</h2>
   <button class="button" id="boarding">Book Now!</button> 
    
</div>
</div>


    <footer class="footer flex-row justify-left">
        <a href="/dashboard/new">Add a Dog</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

