
    <main class="col-auto">
    {{{body}}}
    </main>
    <div class="boardingCard">
  <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Boarding-Icon.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Boarding</h2>
    <p class="card-text">Your dog’s home-away-from-home is complete with climate controlled, private guestrooms for eating and sleeping. Unlike traditional kennels, Muttel 6’s dog boarding offers the amenities of two days of daycare plus a night of boarding.</p>
   <button class="button" id="boarding">Book Now!</button> 
    
</div>
</div>

<div class="daycareCard">
	
  <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Daycare-Icon.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Day Care</h5>
    <p class="card-text">Our doggy day care allows for your pups to socialize with other dogs in the same size range. We have Water Wednesdays where we allow the pups to play in the pool. We make sure every pup gets plenty of exercise so they'll be ready to sleep when they go home.</p>
   <button class="button" id="daycare">Book Now!</button> 
  
</div>
</div>

<div class="groomingCard">
  <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Grooming-Icon.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Grooming</h5>
    <p class="card-text">We offer three different types of grooming sessions. The Basic Bath includes a bath, blowdry and brush out. The Luxury Bath also includes an ear cleaning, blueberry facial and nail clipping and the Full Groom also comes with a cut and style!</p>
     <button class="button" id="grooming">Book Now!</button> 


    <footer class="footer flex-row justify-left">
        <a href="/dashboard/new">Add a Dog</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

