
    <main class="col-auto">
    {{{body}}}
    </main>

    <footer class="footer flex-row justify-left">
        <a href="/dashboard/new">Add a Dog</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

