<div class="col-lg-3 col-lg-offset-2 gauche">
    <img class="rounded mx-auto d-block" src="../images/project2-headericon.jpg" alt="project2-headericon" height="80">
</div>

<main>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2 gauche" id="box">
            <form action="action_page.php" method="post">
                
            <button id='login-btn' type="submit">Login</button>

        </div>

        <div class="col-lg-3 col-lg-offset-2 gauche" id="boxtwo">
            
            <button id='register-btn' type="submit">Register</button>

        </div>
    </div>
</main>