<main>
    <div class="columns">
        <div class="column has-text-centered" id="box">
            <button class='button is-large is-rounded is-half' id='login-btn' type="submit">Login</button>

        </div>

        <div class="column">
            <img src="https://i.ibb.co/60vGBqG/project2-headericon.jpg" alt="project2-headericon" border="0">
        </div>

        <div class="column has-text-centered" id="boxtwo">
            <button class='button is-large is-rounded' id='register-btn' type="submit">Register</button>
        </div>
    </div>
</main>

<script src="/js/home.js"></script>