

<div class="card">
    <div class="card-header">
        <h2>Add New Dog</h2>
    </div>
    <form id="new-dog-form">
                
        <label for="dog-name">Dog Name</label>
        <input type="text" id="dog-name" name="dog-name"/>
    
    
        <label for="dog-breed">Breed:</label>
        <input type="text" id="dog-breed" name="dog-breed">
    
        <label for="dog-sex">Sex:</label>
        <select id="dog-sex" name="dog-sex">
            <option value="male">male</option>
            <option value="female">female</option>
    
        <label for="dog-age">Age:</label>
        <input type="text" id="dog-age" name="dog-age">
    
        <label for="dog-weight">Weight:</label>
        <input type="text" id="dog-weight" name="dog-weight">
    
        <label for="dog-vet">
            Veterinarian:</label>
        <input type="text" id="dog-vet" name="dog-vet">
    
        <label for="dog-conditions">
            Tell Us About Your Dog:</label>
        <textarea id="dog-conditions" name="dog-conditions"></textarea>
    
        <button type="submit" class="btn">Add Dog</button>
    </form>
</div>

<script src="/js/newdog.js"></script>